<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="studentRepository" class="com.crecema.my.spring.base.aop.domain.StudentRepository"/>

    <bean id="studentService" class="com.crecema.my.spring.base.aop.domain.StudentServiceImpl">
        <property name="studentRepository" ref="studentRepository"/>
    </bean>

    <aop:aspectj-autoproxy/>

    <bean id="traceAspect" class="com.crecema.my.spring.base.aop.config.TraceAspect"/>

</beans>