<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userRepositoryV1" class="com.crecema.my.spring.base.ioc.domain.UserRepository"/>

    <bean id="userRepositoryV2" class="com.crecema.my.spring.base.ioc.domain.UserRepository" factory-method="getInstance"/>

    <bean id="userRepositoryFactory" class="com.crecema.my.spring.base.ioc.domain.UserRepositoryFactory"/>
    <bean id="userRepositoryV3" factory-bean="userRepositoryFactory" factory-method="getInstance"/>

    <bean id="userRepositoryV4" class="com.crecema.my.spring.base.ioc.domain.UserRepositoryFactoryBean"/>

    <bean id="userService" class="com.crecema.my.spring.base.ioc.domain.UserServiceImpl" init-method="myInit" destroy-method="myDestroy">
        <property name="userRepository" ref="userRepositoryV1"/>
    </bean>

    <bean id="userController" class="com.crecema.my.spring.base.ioc.domain.UserController">
        <constructor-arg index="0" ref="userService"/>
    </bean>

</beans>