<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.crecema.my.spring.core">
        <context:exclude-filter type="assignable" expression="com.crecema.my.spring.core.ioc.BeansConfig"/>
    </context:component-scan>

    <aop:aspectj-autoproxy/>

    <bean id="apiSpaceClient" class="com.crecema.my.spring.common.client.ApiSpaceClient"/>

    <bean id="jokesService" class="com.crecema.my.spring.common.service.JokesServiceImpl">
        <constructor-arg index="0" ref="apiSpaceClient"/>
    </bean>

    <bean id="jokesLauncher" class="com.crecema.my.spring.common.launcher.JokesLauncher">
        <constructor-arg index="0" ref="jokesService"/>
    </bean>

</beans>